

body {
  background: rgb(216, 229, 252);
}

body::after {
  content: "";
  background: url(http://nollfuneral.com/wp-content/uploads/2016/02/cloud-background.jpg);
  background-position: top center;
  background-size: cover;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  font-size: 40px;
  font-family: 'Poppins', sans-serif, serif;
  padding: 30px;
  color: #ffff;
  text-align: center;
  text-shadow: rgba(96, 154, 255, 0.3) 1px 1px 1px;
}

#home-location {
  min-height: 600px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background: rgba(96, 154, 255, 0.2);
  margin-bottom: :10px;
}

#home-location img {
  width: 100%;
  border-radius: 10px;
  margin-bottom:10px;
}

#dream-location {
  min-height: 600px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background: rgba(96, 154, 255, 0.2);
}

#dream-location img {
  width: 100%;
  border-radius: 10px;
  margin-bottom:10px;
}

/* #enter-box{
  width: 35%;
  margin: 20px auto 0;
}
#enter-btn {
  display: block;
  margin: 10px auto 0;
} */

#hottest-location {
  font-family: 'Poppins', sans-serif;
  /* min-height: 100px; */
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 45px;
  border-radius: 10px;
  background: rgba(96, 154, 255, 0.2);
  color: #ffff;
  font-weight: 200;
}

#current-location {
  font-family: 'Poppins', sans-serif;
  /* min-height: 110px; */
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 0px;
  border-radius: 10px;
  background: rgba(96, 154, 255, 0.2);
  font-weight: 200;
  font-size: 16px;
  color: rgb(0, 4, 7);
  text-align:center;
  display:block;
  text-shadow: rgba(96, 154, 255, 0.3) 1px 1px 1px;
}

.hidden {
  display: none;
}

h6 {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-shadow: rgba(96, 154, 255, 0.3) 1px 1px 1px;
  color: #ffff;
  font-size: 20px;
}

.button{
  margin:0px auto;
}
.form-control{
margin:0px auto;
text-align: center;
width: 200px;
}
